# folders and files to be ignored by git

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
.AppleDouble
.LSOverride
*.lnk
*.cab
*.msi
*.msm
*.msp
$RECYCLE.BIN/

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.cfg
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
*.codekit
*.scssc
node_modules/
connect.php
connectTwo.php

###########################
## Large/Disallowed Files
## Use CDN for these
###########################

*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.ogv
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi